<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Searching</title>
</head>
<body>
<form action="" method="post" novalidate>
    <label for="query" style="display: none">
        Search:
    </label>
    <input id="query" name="query" type="text"/>
    <input type="submit" value="Search"/>
</form>
<p>Retrieved in {{ difference }}</p>
{% if query_result %}
    {% for result in query_results %}
        <a href="{{ result.url }}">{{ result.url }}</a> - {{ result.score }} <br/>
    {% endfor %}
{% endif %}
</body>
</html>